<header class="intro-header " >
  <div class="container">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        {% for my_page in site.pages %}
        {% if my_page.title %}
        <a class="site-nav" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
        {% endfor %}

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
        <div class="site-heading">
          <span class="subheading">总是走在漫长的路上</span>
        </div>
      </div>
    </div>

  </div>


</header>
