<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-4">
                <img src="{{ site.favicon }}" title="Avatar" alt="My Avatar">
                <h4>{{ site.author.name }}</h4>
                <p>{{ site.author.title }}</p>
                <p class="muted">{{ site.author.address }}</p>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4 visible-md-block visible-lg-block visible-sm-block">
                <p><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:">{{ site.author.email }}</a> </p>
                <p><i class="fa fa-github fa-fw"></i><a href="//github.com/{{ site.author.github }}" target="_blank">  @{{ site.author.github }} </a></p>
                <p><i class="fa fa-hand-o-right fa-fw"></i> <a href="//blog.csdn.net/{{ site.author.csdn }}" target="_blank"> csdn.net/in/{{ site.author.csdn }} </a></p>
                <p><i class="fa fa-weibo fa-fw"></i> <a href="//weibo.com/{{ site.author.weibo }}" target="_blank">  @didi爱dada </a></p>
            </div>
            <div class="col-sm-4 visible-md-block visible-lg-block">
                <a href="../img/肖丹-前端开发工程师.pdf" download="肖丹-前端开发工程师.pdf" class="btn btn-dark"><i class="icon-file icon-white"></i> Download.pdf </a>
            </div>
        </div>
    </div>
</div>
